/* Global Colors */
:root {
  --background: #1943c2;
  --whitefont: #ffffff;
  --carddark: #01650b;
  --cardlight: #006f0b;
  --borderdark: #000000;
}

/* Global/Element Styles */
* {
  color: var(--whitefont);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  margin: 10px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  list-style: none;
  width: 100%;
}

.card {
  border: 2px dashed var(--borderdark);
  padding: 20px;
  margin: 20px;
  background: var(--cardlight);
  border-radius: 8px;
  flex: 1 1 300px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  background: var(--carddark);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
